@import './../../Colors.css';

.card__top__level {
  height: 400px;
}

.card__date {
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  color: var(--secondary);
}

.card__img .card-img {
  width: 90%;
  height: 126.53px;
}

.card__title {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.card__text {
  font-size: 13px;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 0.5rem;
  color: var(--secondary);
}

.icon {
  color: var(--primary);
  width: 20px;
}
